.App {
  text-align: center;
}

.header{
  background-color: beige;
  display: flex;
  flex-direction: row;
  height: 200px;
}

.header__title{
  border: 2px solid red;
}

.header__menu{
  border: 2px solid blue;
}


